/* Main CSS for Edinburgh Perl Mongers */

/* By Rory Macdonald */


body {
    font-size: 10pt;
    font-family: helvetica,verdana,arial,sans-serif,times;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
}

.top-nav {
  list-style: none;
  padding: 0.5em 0 0.4em 1em;
  background-color: #369;
  color: #dcd5de;
  border-bottom: 1px solid #000;
}
.top-nav li {
  display: inline;
}
.top-nav li:after {
  padding: 0 0.75em 0 1em;
  content: '::';
}
.top-nav li:last-child:after {
  content: '';
}
.top-nav a {
  text-decoration: none;
  color: #fff;
}

/* Stuck this in to handle the forced 'friend' advert. */
table {
    font-size: 10pt;
    font-family: helvetica,verdana,arial,sans-serif,times;
    background: #ffffff;
    width: 640px;
}

.booktable {
    width: 300px;
}

.bookdetails {
    font-weight: bold;
}

/* Don't crowd */
p.flush {
    line-height: 50px;
}

.content {
    width: 640px;
    padding-left: 15px;
}

.review_index_content {
    padding-left: 15px;
}

.header {
    font-size: 12pt;
    color: #990000;
}

.blue-bold {
    /*background-color: #e6e6e6;*/
    font-weight: bold;
    color: #336699;
}

.navigation {
    background-image: url("/images/gray-slide.png");
    background-repeat: repeat-y;
    background-color: #ffffff;
    color: #000000;
    margin: 0px;
    border: 0px;
    padding: 0pt;
    font-size: 8pt;
    font-family: helvetica, sans serif;
    text-align: left;
    padding-left: 15px;
}


.external-links a {
    color: #dcd5de;
    text-decoration: none;
}

.external-links a:visited {
    color: #dcd5de;
}

.external-links a:hover {
    color: #ccc;
    text-decoration: underline;
}

.review_in_progress {
    color: #bdbdbd;
    font-weight: italic;
}

.review_late {
    color: #FF7A22;
    font-weight: italic;
}

.review_missing {
    color: #ff8383;
    font-weight: italic;
}

.review_delivered {
    /* color: #848484; */
    color: #389E48;
    font-weight: italic;
}
