/* Main CSS for Edinburgh Perl Mongers */

/* By Rory Macdonald */


body {
  font-size: 10pt;
  font-family: sans-serif;
  line-height: 1.3em;
  padding: 0px;
  margin: 0px;
  background: #fff;
}

.top-nav {
  list-style: none;
  padding: 0.5em 0 0.4em 1em;
  margin: 0;
  background-color: #369;
  color: #dcd5de;
  border-bottom: 1px solid #000;
}
.top-nav li {
  display: inline;
}
.top-nav li:after {
  padding: 0 0.75em 0 1em;
  content: '::';
}
.top-nav li:last-child:after {
  content: '';
}
.top-nav a {
  text-decoration: none;
  color: #fff;
}

/* Stuck this in to handle the forced 'friend' advert. */
table {
  font-size: 10pt;
  font-family: sans-serif;
  background: #fff;
  width: 640px;
}

li {
  padding-bottom: 0.5em;
}

.booktable {
  width: 300px;
}

.bookdetails {
  font-weight: bold;
}

p.flush {
  line-height: 50px;
}

.content {
    width: 640px;
    padding-left: 15px;
}

.review_index_content {
  padding-left: 15px;
}

.header {
  font-size: 12pt;
  color: #900;
}

.blue-bold {
  font-weight: bold;
  color: #369;
}

.review_delivered {
  color: #389e48;
  font-weight: italic;
}
