body {
	font-size: 10pt;
	font-family: helvetica,verdana,arial,sans-serif,times;
	padding: 0px;
	margin: 0px;
	background: #ffffff; 
}

.content {
	width: 640px;
    padding-left: 15px;
}

td {
	font-size: 10pt;
        font-family: helvetica,verdana,arial,sans-serif,times;
	background: #ffffff;
}

.header {
	font-size: 12pt;
	color: #990000;
}

.blue-bold {
	font-weight: bold;
    color: #336699;
}

.navigation {
    background-color: #ffffff;
    color: #000000;
    margin: 0px;
	border: 0px;
    padding: 0pt;
	font-size: 8pt;
	font-family: helvetica, sans serif;
    text-align: left;
    padding-left: 15px;
}

.external-links {
	background-color: #336699;
	color: #dcd5de;
	margin: 0;
	padding: 2pt;
	border-bottom: 1px solid #000;
	font-size: 8pt;
	text-align: left;
	padding-left: 15px;
}

.external-links a {
	color: #dcd5de;
	text-decoration: none;
}

.external-links a:visited {
	color: #dcd5de;
}

.external-links a:hover {
	color: #ccc;
    /*font-weight: bold;*/
	text-decoration: underline;
}
