<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>[% title || 'Edinburgh Perl Mongers' %]</title>
    <link rel="stylesheet" href="/css/edinburgh-pm-org.css">
  </head>
  <body>
    <ul class=top-nav>
      <li><a href="/">edinburgh.pm.org</a></li>
      <li><a href="http://www.perl.com/">perl.com</a></li>
      <li><a href="http://www.cpan.org">cpan.org</a></li>
      <li><a href="http://www.enlightenedperl.org/">enlightenedperl.org</a></li>
      <li><a href="http://www.perlmonks.org/">perlmonks.org</a></li>
      <li><a href="http://blogs.perl.org/">blogs.perl</a></li>
      <li><a href="http://jobs.perl.org/">jobs.perl</a></li>
    </ul>

    <div><a href="/"><img alt="Edinburgh Castle" src="/images/edinburgh-pm-org-banner.png" width=535 height=91></a></div>

    <div class=content>
      [% content %]
    </div>

    <div><img width="520" height="3" alt="faded separator" src="/images/hr-336699-fade-long.png"></div>

    <div class=content>
      <p>Page maintained via <a href="https://github.com/edinburgh-pm/edinburgh.pm">github.com/edinburgh-pm/edinburgh.pm</a></p>
    </div>

  </body>
</html>
